@font-face {
    font-family: 'Pretendard';
    font-weight: normal;
    src:
        url("./Pretendard-Regular.otf") format("opentype"),
        url("./Pretendard-Regular.woff") format("woff");
}


@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    src:
        url("./Pretendard-Light.otf") format("opentype"),
        url("./Pretendard-Light.woff") format("woff");
}